<!DOCTYPE html>
<html lang="en">
<head>
    <title>CROSS ME</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="/icon.jpg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <script defer src="/socket.io.js"></script>
    <script defer src="/p5.js"></script>
    <script defer src="/jquery-3.3.1.min.js"></script>
    <script defer src="/player.js"></script>
    <script defer src="/bullet.js"></script>
    <script defer src="/wall.js"></script>
    <script defer src="/cornersLevel.js"></script>
    <script defer src="/powerUps.js"></script>
    <script defer src="/opponents.js"></script>
    <script defer src="/rooms.js"></script>
    <script defer src="/domQueries.js"></script>
    <script defer src="/client.js"></script>
    <script defer src="/game.js"></script>
</head>
<body>
    <div id="enterName">
        <div>
            <h2>
                Please enter your name or alias:
            </h2>
            <form id="submitName">
                <input id="userNameIn" required/>
                <button>
                    ENTER
                </button>
            </form>
        </div>
    </div>
    <div id="lobby">
        <h1>Choose A Room or Host One Yourself</h1>
        <div class="flexCenter">
            <div id="listOfRooms">

            </div>
        </div>
        <br>
        <button id="createRoomBtn">Create Room</button>
    </div>
    <div id="passwordPrompt">
        <h1>Please Enter The Password</h1>
        <form id="passwordForm" action="/roomPassword">
            <label for="roomPassword">Password: </label>
            <input id="roomPassword" type="password">
            <button>ENTER</button>
        </form>
    </div>
    <div id="deathScreen">
        <h1 id="youDied">YOU DIED!</h1>
        <div class="respawnMessage">
            <p>YOU WILL RESPAWN IN:&nbsp;</p>
            <p id="respawnCounter"></p>
        </div>
    </div>
    <main>
        <div id="gameContainer">

        </div>
        <div id="rightSide">
            <div id="stats">
                <div class="hpContainer">
                    <p>HP: </p>
                    <div id="hpBarBlack">
                        <p id="hpNumbers">100 / 100</p>
                        <div id="hpBarRed"></div>
                    </div>
                </div>
            </div>
            <div id="chatWindow">
                <div id="msgContainer" class="wordwrap">
                    <ul id="messages"></ul>
                </div>
                <form id="chatForm" action="">
                    <input id="m" autocomplete="off" required/>
                    <button id="send">Send</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
