@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: 'VT323', monospace;
}

body {
    background: #232526;
    margin: 0;
    font-family: 'VT323', monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr 300px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#enterName {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    z-index: 10;
    opacity: 1;
    pointer-events: auto;
}

#lobby {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: black;
    color: white;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    font-size: 40px;
    opacity: 0;
    z-index: 9;
    overflow-y: scroll;
    pointer-events: none;
}

#listOfRooms {
    width: 500px;
    border: #AAAAAA 15px solid;
    background: #888888;
    height: 50vh;
    min-height: 300px;
    overflow-y: scroll;
}

.room {
    border: 3px red solid;
    font-size: 20px;
}

#createRoomBtn {
    font-size: 40px;
    display: inline-block;
    min-height: 60px;
}

#passwordPrompt {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 40px;
    opacity: 0;
    z-index: 11;
    pointer-events: none;
}

#passwordPrompt button {
    font-size: 20px;
}

#passwordFeedback {
    color: red;
}

#roomPassword {
    height: 30px;
    font-size: 20px;
}

#createRoomScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 40px;
    opacity: 0;
    z-index: 12;
    pointer-events: none;
}

#deathScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: black;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    font-size: 8vh;
    pointer-events: none;
    opacity: 0;
}

.appear {
    animation: appear 600ms linear 0s forwards;
}

.vanish {
    animation: vanish 600ms linear 0s forwards;
}

#youDied {
    transform: rotate(-15deg);
}

.respawnMessage {
    display: flex;
}

#submitName * {
    font-size: 40px;
}

#msgContainer {
    height: calc(90vh - 270px);
    overflow-y: scroll;
    background: #AAAAAA;
    padding: 0;
    margin: 0;
}

.gameMsg {
    color: red;
}

.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

#stats {
    height: 230px;
    border: #878787 inset 10px;
    color: white;
    text-align: center;
}

.hpContainer {
    display: flex;
    justify-content: space-around;
}

#hpBarBlack {
    background: black;
    width: 200px;
    height: 50px;
}

#hpBarRed {
    background: red;
    height: inherit;
    width: 100%;
}

#hpNumbers {
    position: absolute;
    width: inherit;
    text-align: center;
    color: white;
}

#leaveRoom {
    font-size: 20px;
}

#chatWindow {
    border: #878787 inset 10px;
    font-size: 20px;
}

#chatForm {
    /*   background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; */
    background-color: #282828;
    /*   background-size:20px 20px; */
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

#m {
    width: 220px;
    height: 24px;
    font-size: 18px;
}

#send {
    width: 60px;
    height: 30px;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

#gameContainer {
    background-color: #111111;
    height: calc(100vh - 20px);
    border: #888888 inset 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0px);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}